{% assign current_variant = product.selected_or_first_available_variant | default: product.variants.first %}
{% assign selected_selling_plan_allocation = current_variant.selected_selling_plan_allocation %}
{% if product.requires_selling_plan and selected_selling_plan_allocation == blank %}
  {% assign selected_selling_plan_allocation = current_variant.selling_plan_allocations.first %}
{% endif %}

<style>
  input[name="purchase-option"]:checked + .purchase_option-button {
    border: 2px solid black;
  }
  input[type="radio"]:checked + .sellingplan {
    background-color: red;
  }
</style>

<selling-plan-picker selected_plan="{{ selected_selling_plan_allocation.selling_plan.id }}" class="flex col full-width selling_plan-picker{% if current_variant.selling_plan_allocations.size < 1 %} hide-block{%- endif -%}">
  <input type="text" hidden name="selling_plan"{% if selected_selling_plan_allocation != blank %} value="{{ selected_selling_plan_allocation.selling_plan.id }}"{% else %} disabled{% endif %}>
  {% if current_variant.selling_plan_allocations.size > 0 %}
    <div class="purchase_options flex col full-width">
      {% unless current_variant.requires_selling_plan %}
        <input hidden id="purchase-onetime" type="radio" name="purchase-option" {% unless selected_selling_plan_allocation != blank %} checked{% endunless %} value="onetime">
        <label for="purchase-onetime" class="purchase_option-button purchase_option-button-onetime flex row middle full-width">
          One Time Purchase
        </label>
      {% endunless %}
      {% assign selling_plan_group_ids = current_variant.selling_plan_allocations | map: "selling_plan_group_id" | uniq %}
      {% for selling_plan_group_id in selling_plan_group_ids %}
        {% assign selling_plan_group = product.selling_plan_groups | where: "id", selling_plan_group_id | first %}
        {% assign selling_plan_allocations = current_variant.selling_plan_allocations | where: "selling_plan_group_id", selling_plan_group.id %}
        <input hidden id="purchase-group-{{ forloop.index }}" type="radio" name="purchase-option" {% if selected_selling_plan_allocation.selling_plan_group_id == selling_plan_group_id %} checked{% endif %} value="{{ selling_plan_group.name }}">
        <label for="purchase-group-{{ forloop.index }}" class="purchase_option-button purchase_option-button-sellingplan-group flex col full-width">
          Sellingplan Group: {{ selling_plan_group.name }}
        </label>
        <div class="flex col purchase_option-content">
          {% for selling_plan_allocation in selling_plan_allocations %}
            {% assign selling_plan = selling_plan_allocation.selling_plan %}
            <input hidden type="radio" id="sellingplan-{{ selling_plan.id }}" name="sellingplans-{{ selling_plan_group_id }}" value="{{ selling_plan.id }}"{% if selected_selling_plan_allocation.selling_plan.id == selling_plan.id %} checked{% endif %}>
            <label for="sellingplan-{{ selling_plan.id }}" class="sellingplan">
              {{ selling_plan.name }}
            </label>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
</selling-plan-picker>


{% schema %}
  {
    "name": "Product Sellingplans",
    "tag": null,
    "settings": [

    ],
    "presets": [
      {
        "name": "Product Sellingplans"
      }
    ]
  }
{% endschema %}