

<pop-up id="{{ section.settings.id }}" >
  <div class="color-{{ section.settings.color_scheme }} cart-drawer">
    <cart-form section="{{section.id}}">
      {% form "cart", cart %}
        <div class="{{ section.settings | class_list }} ">
          {% content_for "blocks" %}
        </div>
      {% endform %}
    </cart-form>
  </div>
</pop-up>


<pop-up-button
  for="{{ section.settings.id }}"
  class="spacing-xs">
  toggle popup
</pop-up-button>

{% schema %}
{
  "name": "Cart drawer",
  "tag": "aside",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "text",
      "id": "id",
      "label": "ID",
      "default": "cart-drawer",
      "info": "The ID of this popup. Enter this into any popup button to toggle this popup."
    },
    {
      "type": "style.size_panel",
      "id": "size",
      "label": "Size",
      "default": {
        "width": "auto"
      }
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing"
    },
    {
      "type": "style.layout_panel",
      "id": "layout",
      "label": "Layout",
      "default": {
        "flex-direction": "row",
        "gap": "20px",
        "justify-content": "center",
        "align-items": "center",
        "@media (--mobile)": {
          "flex-wrap": "wrap"
        }
      }
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
